.flex {
    display: flex;
}

.justify-contents-evenly {
        justify-content: space-around;
        gap: 58%;
        flex-wrap: wrap;
}

span.social a {
    color: var(--font-color);
    text-decoration: none !important;
}

span {
    color: var(--font-color);
}