.heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .close-icon {
        position: relative;
        bottom: 10px;
        right: -6px;
    }

    .mat-dialog-title {
        color: #383838;
        font-family: 'Arial';
        font-weight: 500;

        span.sub {
            color: #007536;
            font-family: 'Arial';
            font-weight: 500;
            font-size: 18px;
        }
    }
}

mat-dialog-content {
    min-height: 85vh;
}