<mat-toolbar color="primary">
<mat-toolbar-row>
    <span class="heading-icon">
        <mat-icon aria-hidden="false" aria-label="Example set_meal icon">set_meal</mat-icon>
         Resto 3D
    </span>
    <span class="example-spacer"></span>
    <div class="left-menus">
        <mat-icon (click)="navLink('/')" class="icon" aria-hidden="false" aria-label="home icon">home</mat-icon>
        <mat-icon class="icon" aria-hidden="false" aria-label="menu icon">menu_book</mat-icon>
    </div>
</mat-toolbar-row>
</mat-toolbar>