<mat-grid-list cols="1">
  <mat-card class="main-heading">
    <div class="heading-section">
      <h1>Resto 3D Cafe</h1>
      <h2>Welcome to Resto 3D where you can View in 3D and order!</h2>
    </div>
  </mat-card>
</mat-grid-list>

<mat-grid-list cols="2" class="bgColor">
    <mat-grid-tile>
        <mat-card class="food">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Onigiri Japanese Rice Balls</mat-card-title>
              <mat-card-subtitle>Onigiri Japanese Rice Balls</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/images/Onigiri-Japanese-Rice-Balls.webp" alt="Photo of broasted chicken"  (click)="openDialog('Onigiri Japanese Rice Balls', 'Raman Restaurant')">
            <mat-card-content>
              <p>
                Cooked Delicies Onigiri Japanese Rice Balls!
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button class="threeview" mat-raised-button color="primary" (click)="openDialog('Onigiri Japanese Rice Balls', 'Raman Restaurant')">3D View</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="food">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Spicy Shoyu Ramen</mat-card-title>
              <mat-card-subtitle>ピリ辛醤油ラーメン</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/images/ramen.webp" alt="Photo of broasted chicken" (click)="openDialog('Noodles', 'Raman Restaurant')">
            <mat-card-content>
              <p>
                Delicious Bowl of Ramen Noodles.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button class="threeview" mat-raised-button color="primary" (click)="openDialog('Noodles', 'Raman Restaurant')">3D View</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
</mat-grid-list>




