

.main-heading {
  background: url('/assets/images/background-pasta.jpg');
  background-position: top;
  height: 400px;
  background-size: cover;
  border-radius: 0px;

  .heading-section {
    width: 30rem;
    background: #f0f8ff91;
    padding: 15PX;
    border-radius: 5PX;
    position: RELATIVE;
    top: 2rem;
    padding-top: 20px;

    h1 {
      font-size: 48px;
      font-weight: 500;
      color: #e91e63b0;
      font-family: 'Satisfy';
    }

    h2 {
      color: #5f5f5f
    }
  }
}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('/assets/images/fork.webp');
    background-size: cover;
    background-position: center;
  }

  img {
    width: 550px !important;
    height: 300px !important;
    cursor: pointer;
    cursor: url('/assets/images/3d-pointer.svg'), auto;
  }

  button.threeview {
    cursor: url('/assets/images/3d-pointer.svg'), auto;
  }

  .mat-card-actions:last-child {
    padding-bottom: 10px !important;
  }

  .purchase-btn {
    position: absolute;
    right: 20px;
    bottom: 18px;
  }

  .think {
    display: none;
  }

  .hover .think {
    display: inline-block;
  }

  @media only screen and (max-width : 992px) {

    .main-heading {
      height: 200px;

      .heading-section {
        width: 20rem !important;

        h1 {
          font-size: 30px;
        }
      }
    }

    img {
      width: 340px !important;
      height: 220px !important;
      cursor: pointer;
      cursor: url('/assets/images/3d-pointer.svg'), auto;
    }

    mat-grid-list {
      display: flex;
      flex-direction: column;
    }

    mat-grid-tile {
      position: relative;
      width: 100% !important;
      height: 300px;
      left: 0px !important;

      .mat-grid-tile-content {
        position: relative;
        width: 100% !important;
      }

    }

    
  }