.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('/assets/images/fork.webp');
    background-size: cover;
    background-position: center;
  }

  img {
    width: 550px !important;
    height: 300px !important;
  }

  .mat-card-actions:last-child {
    padding-bottom: 10px !important;
  }

  @media only screen and (max-width : 992px) {

    img {
      width: 340px !important;
      height: 220px !important;
    }

    mat-grid-list {
      display: flex;
      flex-direction: column;
    }

    mat-grid-tile {
      position: relative;
      width: 100% !important;
      height: 300px;
      left: 0px !important;

      .mat-grid-tile-content {
        position: relative;
        width: 100% !important;
      }

    }

    
  }